.pytest_cache/
__pycache__/

*.awkd
*.hdf5
*.patch
*.json
*.root
*.pdf
*.png
*.jpg
*.jpeg
*.gif
*.diff
*.bak
*.html
!templates/plotPage.html
!templates/*.gif
!templates/*.jpg
!templates/*.jpeg
!templates/*.png
*.txt
*.md
!README.md
!README_APP.md

dummy/