<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

    <!-- fontawesome icons -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/solid.css" integrity="sha384-+0VIRx+yz1WBcCTXBkVQYIBVNEFH1eP6Zknm16roZCyeNg2maWEpk/l/KsyFKs7G" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/brands.css" integrity="sha384-1KLgFVb/gHrlDGLFPgMbeedi6tQBLcWvyNUN+YKXbD7ZFbjX6BLpMDf0PJ32XJfX" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/fontawesome.css" integrity="sha384-jLuaxTTBR42U2qJ/pm4JRouHkEDHkVqH0T1nyQXn1mZ7Snycpf6Rl25VBNthU4z0" crossorigin="anonymous">

    <!-- DataTables for jQuery, sorts & searches tables -->
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css">

    <!-- lazy loading lib lozad -->
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/lozad/dist/lozad.min.js"></script>

    <style>
    /* This is used to account for navbar offset*/
    span.anchor {
      margin-top: -54px; /* height of nav, in this case 54px */
      display: block;
      height: 54px; /* height of nav, in this case 54px */
      visibility: hidden;
      position: relative;
    }
    /* This allows long dropdown menus to scroll */
    .scrollable-menu {
      height: auto;
      max-height: 500px;
      overflow-x: hidden;
    }
    </style>

    <title>Summary for PR {{prnum}}</title>
  </head>
  <body>

    <nav class="navbar sticky-top navbar-expand-md navbar-light" style="background-color: #e3f2fd;">

      <a class="navbar-brand" href="#">UHH2 integration <small class="text-muted">PR {{prnum}}</small></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link" href="..">Home</a>
          </li>

          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Sample
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              {% for label, link in set_of_pages %}
                <a class="dropdown-item" href="{{link}}">{{label}}</a>
              {% endfor %}
            </div>
          </li>

          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Plots
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              {% for group in plot_data %}
                <a class="dropdown-item" href="#{{group.id}}">{{group.title}}</a>
              {% endfor %}
            </div>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Timing
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="#timing">Overall</a>
              <a class="dropdown-item" href="#timingModule">By module</a>
            </div>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Filesize
            </a>
            <div class="dropdown-menu scrollable-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="#size">Overall</a>
              {% for modname in size_mod_data %}
              <a class="dropdown-item" href="#size{{modname}}">{{modname}}</a>
              {% endfor %}
            </div>
          </li>
        </ul>
        <span class="navbar-text">
          <a href="https://github.com/UHH2/UHH2/pull/{{prnum}}"><i class="fab fa-github"></i>&nbsp;github PR</a>&nbsp;&nbsp;&nbsp;&nbsp;<a href="{{gitlab_url}}"><i class="fab fa-gitlab"></i>&nbsp;gitlab integration</a>
        </span>
      </div> <!-- end navbarSupportedContent -->
    </nav>

    <div class="container-fluid">
      <h1>Summary for PR {{prnum}}, {{sample}} sample</h1>
      <p></p>
      <strong><font color="blue">h1 (new)</font></strong> is with the PR changes, <strong><font color="red">h2 (ref)</font></strong> is the current HEAD of the branch
      <p></p>
      <h2>Tree plots (Total: {{num_plots}})</h2>
      {% for group in plot_data %}
        <span class="anchor" id="{{group.id}}"></span>
        <section id="{{group.id}}"><h3>{{group.title}}</h3>
          <div class="row">
            {% for plot in group.contents %}
              <div class="col-sm-3">
                <span class="anchor" id="{{plot.id}}"></span>
                <figure class="figure">
                  <a href="{{plot.filename}}" target="_blank">
                    <img src="{{placeholder_img}}" data-src="{{plot.thumbnailname}}" data-srcset="{{plot.thumbnailname}}" class="lozad img-fluid" alt="{{plot.title}}" title="{{plot.title}}"/>
                  </a>
                  <figcaption class="figure-caption"><small>{{plot.caption}}</small></figcaption>
                </figure>
              </div>
            {% endfor %}
          </div>
        </section>
      {% endfor %}
      <hr>
      <!-- Add a table of timings for the whole process -->
      <span class="anchor" id="timing"></span>
      <section id="timing">
      <h2>Timing comparison</h2>
      <h3>Overall</h3>
      <table id="timing_event_table" class="table hover order-column row-border compact">
        <thead class="thead-light">
              <tr>
              {% for header in timing_event_headers %}
                <th><small><strong>{{header}}</strong></small></th>
              {% endfor %}
              </tr>
          </thead>
          <tbody>
            {% for data in timing_event_rows %}
            <tr>
              <td><small>{{data[0]}}</small></td>
              {% for value in data[1:] %}
              <td><small>{{'%.6f' % value}}</small></td>
              {% endfor %}
            </tr>
            {% endfor %}
          </tbody>
      </table>
      <p></p>
      <!-- Add a table of timings for each module -->
      <span class="anchor" id="timingModule"></span>
      <section id="timingModule"><h3>By module</h3>
      <table id="timing_module_table" class="table hover order-column row-border compact">
        <thead class="thead-light">
              <tr>
              {% for header in timing_mod_headers %}
                <th><small><strong>{{header}}</strong></small></th>
              {% endfor %}
              </tr>
          </thead>
          <tbody>
            {% for data in timing_mod_rows %}
            <tr>
              <td><small>{{data[0]}}</small></td>
              {% for value in data[1:] %}
              <td><small>{{'%.6f' % value}}</small></td>
              {% endfor %}
            </tr>
            {% endfor %}
          </tbody>
      </table>

      <hr>
      <!-- Add a table of collection sizes for the whole file -->
      <span class="anchor" id="size"></span>
      <section id="size">
      <h2>Filesize comparison</h2>
      <h3>Overall</h3>
      <table id="size_overall_table" class="table hover order-column row-border compact">
        <thead class="thead-light">
          <tr>
            {% for header in size_overall_headers %}
            <th><small><strong>{{header}}</strong></small></th>
            {% endfor %}
          </tr>
          {% for data in size_overall_total %}
          <tr>
            <th><small>{{data[0]}}</small></th>
            {% for value in data[1:] %}
              <th><small>{{'%.4f' % value}}</small></th>
            {% endfor %}
          </tr>
          {% endfor %}
        </thead>
          <tbody>
            {% for data in size_overall_rows %}
            <tr>
              <td><a href="#size{{data[0]}}"><small>{{data[0]}}</small></a></td>
              {% for value in data[1:] %}
              <td><small>{{'%.4f' % value}}</small></td>
              {% endfor %}
            </tr>
            {% endfor %}
          </tbody>
      </table>
      <p></p>
      <!-- Add a table of member sizes for each collection -->
      <section id="sizeModule">
      <h3>Per collection</h3>
      {% for modname, moddata in size_mod_data.items() %}
      <p></p>
      <span class="anchor" id="size{{modname}}"></span>
      <section id="size{{modname}}">
      <h4>{{modname}}</h4>
      <em>Percentages are relative to the collection, not the entire file</em>
      <table id="size_module_table_{{modname}}" class="table hover order-column row-border compact">
        <thead class="thead-light">
          <tr>
            {% for header in size_mod_headers %}
              <th><small><strong>{{header}}</strong></small></th>
            {% endfor %}
          </tr>
        </thead>
        <tbody>
          {% for data in moddata %}
          <tr>
            <td><small>{{data[0]}}</small></td>
            {% for value in data[1:] %}
            <td><small>{{'%.4f' % value}}</small></td>
            {% endfor %}
          </tr>
          {% endfor %}
        </tbody>
      </table>
      {% endfor %}

    </div> <!-- end container-fluid -->

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>

    <script type="text/javascript">
      // lazy loads elements with default selector as '.lozad'
      // need to put here *after* loading elements
      const observer = lozad();
      observer.observe();

      // sort tables
      $(document).ready( function () {
        $('#timing_event_table').DataTable({
          paging: false,
          searching: false,
          order: [],
          info: false
          });

        $('#timing_module_table').DataTable({
          paging: false,
          searching: true,
          order: [[5, "asc"]]
          });

        $('#size_overall_table').DataTable({
          paging: false,
          searching: false,
          order: [[5, "asc"]],
          orderCellsTop: true
          });

        {% for modname, moddata in size_mod_data.items() %}
        $('#size_module_table_{{modname}}').DataTable({
          paging: false,
          searching: false,
          order: [[5, "asc"]],
          orderCellsTop: true
          });
        {% endfor %}

        // make the table search caption inline with the text entry element
        $(".dataTables_filter input").addClass('form-control');
        $("#timing_module_table_filter").addClass('form-inline');
      } );

    </script>
  </body>
</html>